.App {
  text-align: center;
}

body {
  background-color: #61dafb;
  height: 100%;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  margin-bottom: 3rem;
}

.header img {
  width: 40%;
  padding: 1.2rem;
}

/* Pokemon card */

/* Pokemon page */


